spring:
  application:
    name: gateway-service
  redis:
    host: ${REDIS_HOST:localhost}
    port: ${REDIS_PORT:6379}
  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USER:guest}
    password: ${RABBITMQ_PASSWORD:guest}

server:
  port: 8080

security:
  swagger-public: false
  jwt:
    secret: ${JWT_SECRET:qforge-super-secret-key-please-change-in-production-1234567890}

services:
  auth:
    base-url: ${AUTH_SERVICE_URL:http://localhost:8088}

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
