spring:
  application:
    name: gateway-service
  cloud:
    nacos:
      discovery:
        server-addr: ${NACOS_SERVER_ADDR:localhost:8848}
    gateway:
      server:
        webflux:
          routes:
            - id: auth-service-route
              uri: lb://auth-service
              predicates:
                - Path=/api/auth/**
              filters:
                - StripPrefix=1
            - id: question-service-route
              uri: lb://question-service
              predicates:
                - Path=/api/questions/**,/api/ocr-tasks/**,/api/tags/**
            - id: question-service-ws-route
              uri: lb:ws://question-service
              predicates:
                - Path=/ws/questions/**
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USER:guest}
    password: ${RABBITMQ_PASSWORD:guest}

server:
  port: 8080

security:
  swagger-public: false
  jwt:
    secret: ${JWT_SECRET:qforge-super-secret-key-please-change-in-production-1234567890}

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
